* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 100%;
    margin: 0 auto;
}


.h-100 {
    height: 50%;
    line-height: 80px;
}

.vertical-align {
    vertical-align: middle;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: blue;
}

.btn-blue {
    display: inline;
    border-radius: 40px;
    padding: 16px 32px;
    background-color: blue;
    color: white;
}
/* fine common */

/* header */
header {
    width: 100%;
    height: 80px;
    background-color: white;
}

header .logo {
    float: left;
    width: 70%;
}

header .main-nav-left {
    float: left;
    top: 10%
    width: 70%;
    text-align: center;
    
}

header .main-nav-right {
    float: right;
    width: 70%;
    text-align: center;
}

header #accedi {
    float: right;
    width: 70%;
}

.main-nav li {
    display: inline;
    list-style: none;
}

header a {
    text-decoration: none;
    color: black;
    padding: 0 10px;
}

#accedi .btn-blue {
    padding: 10px;
    display: inline;
}
/* fine header */

/* jumbo */
#jumbo {
    background-color: lightblue;
    min-height: 550px;   
}

.banner {
    width: 60%;
    color: black;
    top: 50%;
    left: 20%;
}

.banner h1 {
    position: absolute;
    text-align: left;
    top: 15%;
    right: 25%;
    font-size: 60px;
    width: 70%;
}

.banner p {
    text-align: left;
    position: absolute;
    bottom: 40%;
    left: 5%;
    width: 25%;
}

#inizia .btn-blue {
    padding: 10px;
    display: inline;
}

.inizia-position {
    position: absolute;
    bottom: 33%;
    left: 5%;
}

#inizia p {
    position: absolute;
    bottom: 30%;
    left: 5%;    
}

#inizia .arrow {
    position: absolute;
    bottom: 22%;
    left: 5%;
    font-size: 50px;
    color: black;
}

.finestra-jumbo {
    background-image: url(../img/jumbo.png);
    width: 700px;
    height: 400px;
    background-size: cover;
    position: absolute;
    right: 20%;
    bottom: 3%;

}

/* fine jumbo */