* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.h-100 {
    height: 50%;
    line-height: 80px;
}

.vertical-align {
    vertical-align: middle;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: blue;
}

.btn-blue {
    display: inline;
    padding: 16px 32px;
    background-color: blue;
    color: white;
}

.btn-white {
    display: inline;
    padding: 16px 32px;
    background-color: white;
}

/* .clearfix::after {
    content: "";
    display: table;
    clear: both;
} */

/* fine common */

/* header */
header {
    width: 100%;
    height: 80px;
    background-color: white;
}

header .logo {
    float: left;
}

.logo,
.main-nav-left,
.main-nav-right,
#accedi {
    display: inline;
} 

header .main-nav-left {
    float: left;
    top: 10%;
}

.main-nav-left ul li {
    display: inline;
    list-style: none;
}

.main-nav-right ul li {
    display: inline;
    list-style: none;
}

header .main-nav-right {
    float: left;
    position: absolute;
    right: 100px
}

header #accedi {
    float: right;
    margin: 0 10px;
}

header a {
    text-decoration: none;
    color: black;
    padding: 0 10px;
}

#accedi .btn-blue {
    padding: 10px;
    display: inline;
}
/* fine header */

/* jumbo */
#jumbo {
    background-color: lightblue;
    min-height: 550px;   
}

.banner {
    width: 60%;
    color: black;
    top: 50%;
    left: 20%;
}

.banner h1 {
    position: absolute;
    text-align: left;
    top: 15%;
    right: 25%;
    font-size: 60px;
    width: 70%;
}

.banner p {
    text-align: left;
    position: absolute;
    bottom: 40%;
    left: 5%;
    width: 25%;
}

#inizia .btn-blue {
    padding: 10px;
    display: inline;
}

.inizia-position {
    position: absolute;
    bottom: 33%;
    left: 5%;
}

#inizia p {
    position: absolute;
    bottom: 30%;
    left: 5%;    
}

#inizia .arrow {
    position: absolute;
    bottom: 22%;
    left: 5%;
    font-size: 50px;
    color: black;
}

.finestra-jumbo {
    background-image: url(../img/jumbo.png);
    width: 700px;
    height: 400px;
    background-size: cover;
    position: absolute;
    right: 20%;
    bottom: 3%;
}
/* fine jumbo */

/* main */
.container-main {
    width: 80%;
}

.prima-sezione {
    margin: 20% 20%;
    width: 100%;
}

.top-bar {
    height: 100px;
    margin: 0;
    padding: 10px;
}

.prima-colonna,
.seconda-colonna,
.terza-colonna,
.bottom-bar {
    float: left;
    padding: 10px;
}

h2 {
    text-align: left;
}

.radio-margin {
    margin: 30px 0;
}

.fatturazione-mensile,
.fatturazione-annuale {
    color: black;
}

.prima-colonna {
    position: relative;
    width: 28%;
    height: 100vh;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    margin: 30px 0;
}

.seconda-colonna {
    position: relative;
    width: 28%;
    height: 100vh;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    margin: 30px 0;
}

.terza-colonna {
    position: relative;
    width: 28%;
    height: 100vh;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    margin: 30px 0;
}

.bottom-bar {
    position: relative;
    width: 84%;
    height: 30vh;
    padding: 10px;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    margin: 30px 0;
}

.title {
    position: absolute;
    margin: 25px 35px;
    text-align: left;
}

.prova-position {
    position: absolute;
    bottom: 45%;
    left: 12%;
    padding: 10px 40px;
}

.gray-text {
    color: gray;
}

.acquista-ora {
    position: absolute;
    margin: 370px 35px;
    text-align: left;
}

.blue-text {
    color: blue;
}

.contatta-position {
    float: right;
    margin: 20px;
    padding: 10px 50px;
}

.seconda-sezione {
    position: relative;
    vertical-align: middle;
    height: auto;
}
    
.riga>div {
        display: inline-block;
        width: 40%;
}

.text-1 {
    padding: ;
    float: right;
    margin: 60px -8%;
}

li {
    list-style: none;
}

.img-partner {
    width: 500px;
    height: 400px;
    float: left;
    margin: 30px 50%;
}

.terza-sezione {
    width: 100%;
    margin: 0 20%;
}

.barra-superiore {
    height: 100px;
    margin: 0;
    padding: 10px;
}

/* barra superiore */
.barra-sup-sinistra,
.barra-sup-centrale,
.barra-sup-destra {
    float: left;
    padding: 10px;
}

.barra-sup-sinistra,
.barra-sup-centrale,
.barra-sup-destra {
    width: 30%;
    margin: 20px 0;
    position: relative;
}

.barra-sup-sinistra img,
.barra-sup-centrale img,
.barra-sup-destra img {
    width: 100%;
    max-height: 180px;
    object-fit: cover;
}
/* fine barra superiore */

/* barra inferiore */
.barra-inf-sinistra,
.barra-inf-centrale,
.barra-inf-destra {
    float: left;
    padding: 10px;
}

.barra-inf-sinistra,
.barra-inf-centrale,
.barra-inf-destra {
    width: 30%;
    margin: 20px 0;
    position: relative;
}

.barra-inf-sinistra img,
.barra-inf-centrale img,
.barra-inf-destra img {
    width: 100%;
    
    object-fit: cover;
}
/* fine barra inferiore */

.box {
    position: relative;
}

.quarta-sezione {
    width: 100%;
    margin: 0;
}

.title-team {
    width: 84%;
    margin: 20px 20%;
}

.card {
    margin: 20% 20%;
    width: 100%;;
}

span .img {
    color: white;
}

.box-img img  {
    position: relative;
    width: 15vh;
    height: 15vh;
    line-height: 15vh;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    margin: 30px 0;
    display: inline;
}

.box-img-centrale img {
    position: relative;
    width: 90%;
    height: 60vh;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    margin: 30px 0;
}

/* colore brand */
.green {
    background-color: greenyellow;
    color: white;
}

.bordeaux {
    background-color: rgb(143, 22, 22);
    color: white;
}

.red {
    background-color: red;
    color: white;
}

.light-blue {
    background-color: lightblue;
    color: white;
}

.blue {
    background-color: rgba(46, 46, 255, 0.952);
    color: white;
}

.dark-blue {
    background-color: darkblue;
    color: white;
}

.yellow {
    background-color: yellow;
    color: white;
}
/* fine colore brand */


#secondo-banner {
    background-color: lightblue;
    min-height: 300px; 
    width: 125%;
}

.banner {
    width: 60%;
    color: rgb(143, 22, 22);
    top: 50%;
    left: 20%;
}

.porta-position {
    float: right;
    margin: 100px 20%;
    padding: 10px 40px;
    color: black;
}

.porta-dropbox {
    position: absolute;
    text-align: left;
    margin: 100px 20%;
    font-size: 30px;
    width: 400px;
}

.quinta-sezione {
    width: 100%;
    margin: 0;
}

.faq {
    width: 84%;
    height: 30vh;
    position: relative;
    margin: 10% 20%;
    display: inline-block;
    margin: ;
}

.line {
    width: 70%;
}

.trova-position {
    position: absolute;
    margin: 20px 0;
    padding: 10px 40px;
    color: black;
    border: 2px solid black;
}

/* faq inline */
.faq-inline {
    display: inline;
}

.faq-none {
    display: none;
}

.faq:hover .faq-inline {
    display: none;
}

.faq:hover .faq-none {
    display: inline;
}

.prima .seconda .terza .quarta {
    display: inline;
}
/* fine faq inline */
/* fine main */

/* footer */
footer {
    width: 100%;
    height: 100%;
    background-color: black;
}
/* fine footer */
