* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.h-100 {
    height: 50%;
    line-height: 80px;
}

.vertical-align {
    vertical-align: middle;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: blue;
}

.btn-blue {
    display: inline;
    
    padding: 16px 32px;
    background-color: blue;
    color: white;
}

/* .clearfix::after {
    content: "";
    display: table;
    clear: both;
} */

/* fine common */

/* header */
header {
    width: 100%;
    height: 80px;
    background-color: white;
}

header .logo {
    float: left;
}

.logo,
.main-nav-left,
.main-nav-right,
#accedi {
    display: inline;
} 

header .main-nav-left {
    float: left;
    top: 10%;
}

.main-nav-left ul li {
    display: inline;
    list-style: none;
}

.main-nav-right ul li {
    display: inline;
    list-style: none;
}

header .main-nav-right {
    float: right;
}

header #accedi {
    float: right;
}

header a {
    text-decoration: none;
    color: black;
    padding: 0 10px;
}

#accedi .btn-blue {
    padding: 10px;
    display: inline;
}
/* fine header */

/* jumbo */
#jumbo {
    background-color: lightblue;
    min-height: 550px;   
}

.banner {
    width: 60%;
    color: black;
    top: 50%;
    left: 20%;
}

.banner h1 {
    position: absolute;
    text-align: left;
    top: 15%;
    right: 25%;
    font-size: 60px;
    width: 70%;
}

.banner p {
    text-align: left;
    position: absolute;
    bottom: 40%;
    left: 5%;
    width: 25%;
}

#inizia .btn-blue {
    padding: 10px;
    display: inline;
}

.inizia-position {
    position: absolute;
    bottom: 33%;
    left: 5%;
}

#inizia p {
    position: absolute;
    bottom: 30%;
    left: 5%;    
}

#inizia .arrow {
    position: absolute;
    bottom: 22%;
    left: 5%;
    font-size: 50px;
    color: black;
}

.finestra-jumbo {
    background-image: url(../img/jumbo.png);
    width: 700px;
    height: 400px;
    background-size: cover;
    position: absolute;
    right: 20%;
    bottom: 3%;

}
/* fine jumbo */

/* main */
.prima-sezione {
    margin: 20% 20%;
}

h2 {
    text-align: left;
}

.prima-sezione input .radio-1 {
    position: absolute;
    width: 25%;
    margin: 20px;
}

.prima-sezione input .radio-2 {
    position: absolute;
    width: 25%;
}  
/* fine main */

/* footer */
footer {
    width: 100%;
    height: 100%;
    background-color: black;
}
/* fine footer */